.header{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    

    #navbar{
        display: flex;

        img{
            width: 70px;
            transform: rotate(-90deg);
            transition: 0.4s;
           

            &:hover{
                filter: drop-shadow(0 0 0.25rem #85A947);
                transition: 0.4s;
            }
        }

        .links{
            margin: auto;

            .link{
                text-decoration: none;
                color:  #2e2e2e;
                font-size: 18px;
                padding: 15px 25px;
                font-weight: 600;
                transition: 0.4s ease;
                border-radius: 5px;

                &:hover{
                    background-color: #85A947;
                    transition: 0.4s ease;
                }
            }
        }

        .linker{
            text-decoration: none;
            color: #85A947; 
            font-size: 18px;
            padding: 15px 10px;
            font-weight: 600;
            margin: auto;
        }
        
    }
}